<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title,head)">
        <meta charset="UTF-8">
        <meta name="force-rendering" content="webkit"/>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
        <meta name="renderer" content="webkit|ie-comp|ie-stand">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title th:text="${title.title}"></title>
        <meta name="description" th:if="${title.description!=null}" th:content="${title.description}">
        <meta name="keyword" th:if="${title.keyword!=null}" th:content="${title.keyword}">
        <link rel="miphtml" th:if="${title.miphtml!=null}" th:href="${title.miphtml}">
        <link rel="shortcut icon" href="https://cdn.neilren.com/NeilRenV4/favicon.ico" type="image/x-icon"/>
        <link th:each="cs:${head.css}" rel="stylesheet" type="text/css" th:href="${cs}"/>
        <script th:each="js:${head.jss}" th:src="${js}" type="text/javascript"></script>
        <script th:utext="${head.script}"></script>
    </head>
</html>