<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="share">
    <div class="bdsharebuttonbox">
        <a href="#" class="bds_more" data-cmd="more"></a>
        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
        <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
        <a href="#" class="bds_ty" data-cmd="ty" title="分享到天涯社区"></a>
        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
    </div>
    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {
                    "tsina":"1905735270"
                },
                "bdText": "",
                "bdMini": "2",
                "bdMiniList": false,
                "bdPic": "",
                "bdStyle": "2",
                "bdSize": "24"
            }, "share": {}
        };
        with (document) 0[ //
            (getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = '//cdn.neilren.com/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)
            ];//

        function baiduShar() {
            if ($(document.body).width() < 992) {
                $(".bdsharebuttonbox a").css("display", "");
                $(".bdsharebuttonbox a").css("float", "");
            } else {
                $(".bdsharebuttonbox a").css("display", "block");
                $(".bdsharebuttonbox a").css("float", "inherit");
                $(".bdsharebuttonbox a").css("width", "24px");
            }
        }

        $(window).resize(function () {          //当浏览器大小变化时
            baiduShar();
        });
        baiduShar();
    </script>
</div>
</body>
</html>