<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
      http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd
       http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">
    <!-- properties config   -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="order" value="1"/>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:neilren.properties</value>
            </list>
        </property>
    </bean>
    <!-- Memcached配置 -->
    <!--
       枚举类型要想注入到类中，一定要先使用org.springframework.beans.factory.config.FieldRetrievingFactoryBean类将枚举类型进行转换
       将DefaultHashAlgorithm.KETAMA_HASH转换为KETAMA_HASH这个bean，
       然后在要注入的bean中使用<property name="hashAlg" ref="KETAMA_HASH" />引用即可。
    -->
    <bean id="KETAMA_HASH" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="net.spy.memcached.DefaultHashAlgorithm.KETAMA_HASH" />
    </bean>

    <bean id="memcachedClient" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
        <!-- 一个字符串，包括由空格或逗号分隔的主机或IP地址与端口号 -->
        <property name="servers" value="${memcached.servers}" />
        <!-- 指定要使用的协议(BINARY,TEXT),默认是TEXT -->
        <property name="protocol" value="${memcached.protocol}" />
        <!-- 设置默认的转码器(默认以net.spy.memcached.transcoders.SerializingTranscoder) -->
        <property name="transcoder">
            <bean class="net.spy.memcached.transcoders.SerializingTranscoder">
                <property name="compressionThreshold" value="1024" />
            </bean>
        </property>
        <!-- 以毫秒为单位设置默认的操作超时时间 -->
        <property name="opTimeout" value="${memcached.opTimeout}" />
        <property name="timeoutExceptionThreshold" value="${memcached.timeoutExceptionThreshold}" />
        <!-- 设置哈希算法 -->
        <property name="hashAlg" ref="KETAMA_HASH" />
        <!-- 设置定位器类型(ARRAY_MOD,CONSISTENT),默认是ARRAY_MOD -->
        <property name="locatorType" value="${memcached.locatorType}" />
        <!-- 设置故障模式(取消，重新分配，重试)，默认是重新分配 -->
        <property name="failureMode" value="${memcached.failureMode}" />
        <!-- 想使用Nagle算法，设置为true -->
        <property name="useNagleAlgorithm" value="${memcached.useNagleAlgorithm}" />
    </bean>
    <bean id="memcachedManager" class="com.neilren.neilren4j.common.cache.memcached.MemcachedManager">
        <property name="memcachedClient" ref="memcachedClient" />
    </bean>
    <!--&lt;!&ndash; 阿里云身份校验 &ndash;&gt;-->
    <!--<bean id="authDescriptor" class="net.spy.memcached.auth.AuthDescriptor">-->
        <!--<constructor-arg index="0" >-->
            <!--<list>-->
                <!--<value>PLAIN</value>-->
            <!--</list>-->
        <!--</constructor-arg>-->
        <!--<constructor-arg  index="1" ref="plainCallbackHandler"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; 阿里云账号密码配置  &ndash;&gt;-->
    <!--<bean id="plainCallbackHandler" class="net.spy.memcached.auth.PlainCallbackHandler">-->
        <!--<constructor-arg index="0" value="${memcached.username}"/>-->
        <!--<constructor-arg index="1" value="${memcached.password}"/>-->
    <!--</bean>-->
</beans>