<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${title},${head})">
</head>
<body>
<header th:replace="layout/header::header(${menu},${holiday})">
</header>
<main class="container">
    <div class="about">
        <div class="about-title">
            <h1>使用条款</h1>
            <p>Legal Resources</p>
        </div>
        <p>NEILREN.COM为您提供的服务须受以下使用条款（“TOU”）的约束。NEILREN.COM保留随时更新 TOU 的权利，恕不另行通知。单击网页底部的“使用条款”超文本链接，可查看最新版本的 TOU。</p>
    </div>
</main>
<main class="container article" style="margin-top: 40px;">
    <article>
        <div class="row content">
            <div class="col-md-3" style="font-size: 12px;">
                <div>
                    <ul style="list-style: none;font-size: 14px;">
                        <li><a href="#1">服务说明</a></li>
                        <li><a href="#2">个人和非商业用途限制</a></li>
                        <li><a href="#3">隐私和个人信息保护</a></li>
                        <li><a href="#4">有关本网站提供的服务/软件的声明</a></li>
                        <li><a href="#5">有关本网站提供的软件、文档和服务的声明</a></li>
                        <li><a href="#6">成员帐户、密码和安全性</a></li>
                        <li><a href="#7">不得用于非法或禁止的用途</a></li>
                        <li><a href="#8">到第三方站点的链接</a></li>
                    </ul>
                </div>
                <div style="margin-top: 40px;">
                    <h4>接受条款</h4>
                    <p>
                        NEILREN.COM为您提供的服务须受以下使用条款（“TOU”）的约束。NEILREN.COM保留随时更新 TOU 的权利，恕不另行通知。单击网页底部的“使用条款”超文本链接，可查看最新版本的 TOU。
                    </p>
                </div>
            </div>
            <div class="col-md-7">
                <h2 style="margin-bottom: 20px;" id="1">服务说明</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    通过其 Web 资产网络，NEILREN.COM允许您访问各种资源，包括文章资讯区域、下载区域、交流论坛和服务信息（以下统称为“服务”）。服务（包括任何更新、增强、新功能和/或增加任何新 Web 资产）都须受 TOU 约束。
                </p>
                <h2 style="margin-bottom: 20px;" id="2">个人和非商业用途限制</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    除非另有说明，服务只适用于个人与非商业用途。对于从服务取得的任何信息、软件、产品或服务，您不得对其修改、复制、分发、传送、显示、执行、复制、公布、许可、转让、销售或基于以上内容创建衍生作品。
                </p>
                <h2 style="margin-bottom: 20px;" id="3">隐私和个人信息保护</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    请参见<a href="/legal/privacystatement" target="_blank">隐私声明</a>，了解有关收集和使用个人信息的披露规则。
                </p>
                <h2 style="margin-bottom: 20px;" id="4">有关本网站提供的服务/软件的声明</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>从服务（以下简称“软件”）下载使用的任何软件如未标注开源许可均是NEILREN.COM和/或其供应商的版权作品。软件的使用受限于软件随附或包含的最终用户许可协议（以下简称“许可协议”）条款（如果有的话）。如果最终用户没有事先同意许可协议条款，则最终用户将无法安装随附或包括许可协议的任何软件。链接到本网站或通过本网站引用的第三方脚本或代码由拥有此类代码的第三方而不是NEILREN.COM向您授予许可。</p>
                <p>软件只能由最终用户根据许可协议下载并使用。法律明确禁止用户违反许可协议对软件进行任何复制或再分发的行为，这种行为可能导致严重的民事和刑事处罚。违约者将受到最大可能的起诉。</p>
                <p>在不影响前述规定的情况下，严禁将软件复制到任何其他服务器或位置以便进一步复制或再分发，但软件随附的许可协议明确允许进行此类复制或再分发的情况除外。</p>
                <p>软件的保证（如果有的话）仅依照许可协议条款提供。除了许可协议上的保证，NEILREN.COM拒绝承担有关软件的所有其他明示、默示或法定的保证和为了方便起见，NEILREN.COM可能作为服务的一部分或在其软件产品内提供各种工具和实用程序，供用户使用和/或下载。NEILREN.COM不能保证使用此类工具和实用程序所获得的结果或输出的准确性。在使用服务或NEILREN.COM软件产品提供的工具和实用程序时，请尊重其他人的知识产权。</p>
                <h2 style="margin-bottom: 20px;" id="5">有关本网站提供的软件、文档和服务的声明</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    对于因使用或执行软件、文档、提供或未能提供服务，或者服务提供的信息引起的或与其相关的使用中断、数据或利润损失，无论是由合同行为、过失或其他侵权行为导致，NEILREN.COM和/或其供应商对由此造成的任何特别的、间接的、后果性损害或任何其他损害概不负责。
                </p>
                <h2 style="margin-bottom: 20px;" id="6">成员帐户、密码和安全性</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    如果任何服务要求您开设帐户，您必须根据相应注册表上的说明，向我们提供最新的、完整的、准确的相关信息，以便完成注册过程。您还要选择一个密码和用户名。您必须对维护密码和帐户的机密性承担全部责任。此外，您需要对帐户中发生的所有活动承担全部责任。您同意，一旦发现帐户存在未经授权的使用或任何其他不安全的行为，马上向NEILREN.COM通知相关情况。如果其他人在您知情或不知情的情况下使用您的密码或帐户，NEILREN.COM对您因此可能蒙受的任何损失不承担任何责任。然而，如NEILREN.COM或第三方因其他人使用您的帐户或密码而蒙受损失，您则应承担相应责任。在任何时候，未经帐户持有人的同意，您都不得使用其他人的帐户。
                </p>
                <h2 style="margin-bottom: 20px;" id="7">不得用于非法或禁止的用途</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    您在使用服务时，不得将服务用于任何非法用途或这些条款、条件和声明禁止的用途。在使用服务时，不得以任何方式损坏、禁用、过载或妨碍任何NEILREN.COM服务器或连接到任何NEILREN.COM服务器的网络，也不得干扰任何其他用户使用和享有任何服务。您不得尝试通过入侵、密码盗取或任何其他手段擅自使用任何服务、其他帐户、计算机系统或连接到任何NEILREN.COM服务器或任何服务的网络。您不得通过任何手段获取或尝试获取服务未明确提供的任何资料或信息。
                </p>
                <h2 style="margin-bottom: 20px;" id="8">到第三方站点的链接</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    此处的一些链接可能会引导您离开NEILREN.COM站点。链接的站点不在NEILREN.COM的控制之内，NEILREN.COM不对任何链接站点的内容、链接站点中包含的任何链接或此类站点的任何更改或更新负责。NEILREN.COM不对源自任何链接站点的NEILREN.COM仅为了提供便利的目的而向您提供这些链接，并且包括任何链接的并不暗示NEILREN.COM认可相应的第三方站点。
                </p>
            </div>
        </div>
    </article>
    <div style="height: 40px;">
    </div>
</main>
<footer th:replace="layout/footer::footer(${footer})"></footer>
</body>
</html>