<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.dao.TCategoryMapper">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.dbentity.TCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="en_name" jdbcType="LONGVARCHAR" property="enName" />
    <result column="zh_name" jdbcType="LONGVARCHAR" property="zhName" />
    <result column="describe" jdbcType="LONGVARCHAR" property="describe" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.dbentity.TCategory">
    insert into t_category (id, en_name, zh_name, 
      `describe`)
    values (#{id,jdbcType=BIGINT}, #{enName,jdbcType=LONGVARCHAR}, #{zhName,jdbcType=LONGVARCHAR}, 
      #{describe,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.neilren.neilren4j.dbentity.TCategory">
    update t_category
    set en_name = #{enName,jdbcType=LONGVARCHAR},
      zh_name = #{zhName,jdbcType=LONGVARCHAR},
      `describe` = #{describe,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, en_name, zh_name, `describe`
    from t_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, en_name, zh_name, `describe`
    from t_category
  </select>
  <select id="selectByCatEnName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, en_name, zh_name, `describe`
    from t_category
    where en_name = #{ename,jdbcType=BIGINT}
  </select>
</mapper>