<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${title},${head})">
</head>
<body>
<code th:utext="${baiduXiongZhangJsonLD}"></code>
<header th:replace="layout/header::header(${menu},${holiday})">
</header>
<main class="container article">
    <article>
        <section class="row">
            <h1 th:text="${article.title}"></h1>
        </section>
        <div class="row article-img" th:style="${article.img==null?'':'background-image: url('+article.img+');'}">
        </div>
        <div class="row content">
            <div class="col-md-2">
                <div class="article-info" style="padding-bottom: 30px;">
                    <h5>Article Info</h5>
                    <span th:text="${'Author:'+article.author}"></span>
                    <span th:text="${'Source:'+article.source}"></span>
                    <span th:text="${'Category:'+article.zh_name}"></span>
                    <span th:text="${'Tag:'+article.author}"></span>
                    <span th:text="${'View:'+article.views}"></span>
                    <span th:text="${'Published:'+article.date}"></span>
                </div>
            </div>
            <div class="col-md-8" th:utext="${article.content}">
            </div>
            <div class="col-md-2">
                <div th:replace="layout/share::share"></div>
            </div>
        </div>
    </article>
    <script>cambrian.render('tail')</script>
    <div class="article-other">
        <div class="row">
            <h3>Other Related</h3>
            <div class="other-list col-md-3" th:each="article:${article_other}">
                <a href="javascript:void(0)"><p th:text="${article.zh_name}"></p></a>
                <a th:href="${'/Article/'+article.id}">
                    <h4 th:text="${article.title}">文章标题的占位文章标题的占位文章标题的占位</h4>
                    <div class="otherarticle-img"
                         th:style="${article.img==null?'':'background-image: url('+article.img+');'}"></div>
                </a>
            </div>
        </div>
        <div class="row">
            <h3>Top View</h3>
            <div class="other-list col-md-3" th:each="article:${topview}">
                <a href="javascript:void(0)"><p th:text="${article.zh_name}"></p></a>
                <a th:href="${'/Article/'+article.id}">
                    <h4 th:text="${article.title}">文章标题的占位文章标题的占位文章标题的占位</h4>
                    <div class="otherarticle-img"
                         th:style="${article.img==null?'':'background-image: url('+article.img+');'}"></div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="layout/footer::footer(${footer})"></footer>
</body>
</html>