<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/head::head(${title},${head})">
</head>
<body>
<header th:replace="layout/header::header(${menu},${holiday})">
</header>
<main class="container">
    <div class="about">
        <div class="about-title">
            <h1>弱密码检测</h1>
            <p>Worst Password Check</p>
        </div>
        <p>NEILREN.COM，不断收集汇总弱密码数据库，并且开放查询接口，不仅仅用于自身项目还免费服务于广大开发者同行，也希望各位提交新的弱密码到我的数据库。</p>
    </div>
</main>
<main class="container article" style="margin-top: 40px;">
    <article>
        <div class="row content" style="padding-top: 0;">
            <div class="col-md-3" style="font-size: 12px;">
                <div>
                    <h5>弱密码检测</h5>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="pwd" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="pwd">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-12 control-label" id="show" style="text-align: left;"></label>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" onclick="check()" class="btn btn-default">Check</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-7">
                <h2 style="margin-bottom: 20px;" id="1">开放数据接口</h2>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <p>
                    接口地址：http(s)://api.neilren.com/open/checkWoestPassword
                </p>
                <p>
                    返回格式：JSON
                </p>
                <p>
                    请求方式：POST
                </p>
                <h2 style="margin-bottom: 20px;">请求参数说明</h2>
                <table class="table">
                    <tr>
                        <td>名称</td>
                        <td>类型</td>
                        <td>是否必填</td>
                        <td>示例值</td>
                        <td>说明</td>
                    </tr>
                    <tr>
                        <td>pwd</td>
                        <td>string</td>
                        <td>是</td>
                        <td>0PecE$Hg#CDw3vAiw9K2Mb8ZYa$h$nsj</td>
                        <td>待检测的明文密码，空格会被清除</td>
                    </tr>
                </table>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <h2 style="margin-bottom: 20px;">返回参数说明</h2>
                <table class="table">
                    <tr>
                        <td>名称</td>
                        <td>类型</td>
                        <td>说明</td>
                    </tr>
                    <tr>
                        <td>success</td>
                        <td>boolean</td>
                        <td>请求是否执行成功</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>string</td>
                        <td>返回的消息</td>
                    </tr>
                    <tr>
                        <td>datetime</td>
                        <td>long</td>
                        <td>接口响应时的时间戳</td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>object</td>
                        <td>返回的数据</td>
                    </tr>
                </table>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <h2 style="margin-bottom: 20px;">返回结果(Data)说明</h2>
                <table class="table">
                    <tr>
                        <td>名称</td>
                        <td>类型</td>
                        <td>说明</td>
                    </tr>
                    <tr>
                        <td>Score</td>
                        <td>int</td>
                        <td>得分（0~100）</td>
                    </tr>
                    <tr>
                        <td>HitDatabase</td>
                        <td>boolean</td>
                        <td>是否命中弱密码库</td>
                    </tr>
                    <tr>
                        <td>SecuseLevel</td>
                        <td>string</td>
                        <td>
                            安全等级，共分七级:<br/>
                            非常安全（VERY_SECURE）<br/>
                            安全（SECURE）<br/>
                            非常强（VERY_STRONG）<br/>
                            强（STRONG）<br/>
                            一般（AVERAGE）<br/>
                            弱（WEAK）<br/>
                            非常弱（ VERY_WEAK）
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>string</td>
                        <td>送检的密码</td>
                    </tr>
                </table>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <h2 style="margin-bottom: 20px;">返回JSON结果示例</h2>
                <pre class="brush: java;">
{
    "success": true,
    "message": "Success!",
    "data": {
        "Score": 100,
        "HitDatabase": false,
        "SecuseLevel": "VERY_SECURE",
        "Password": "0PecE$Hg#CDw3vAiw9K2Mb8ZYa$h$nsj"
    },
    "datetime": 1534865960719
}
</pre>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <h2 style="margin-bottom: 20px;">什么样的密码会获得高评分？</h2>
                <p>
                    密码长度大于18位、包含大写字母、小写字母、特殊字符，并且没有在弱密码库中被收录的密码会得到高评分。
                </p>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
                <h2 style="margin-bottom: 20px;">代码示例</h2>
                <h3 style="margin-bottom: 20px;">Curl Demo Code</h3>
                <pre class="brush: java;">
curl -i -k -X POST 'https://www.neilren.com/api/open/checkWoestPassword' --data 'pwd=mypassword'
</pre>
                <h3 style="margin-bottom: 20px;">Java Demo Code</h3>
                <pre class="brush: java;">
public static void main(String[] args) {
    String host = &quot;https://www.neilren.com&quot;;
    String path = &quot;/api/open/checkWoestPassword&quot;;
    String method = &quot;POST&quot;;
    Map&lt;String, String&gt; headers = new HashMap&lt;String, String&gt;();
    //根据API的要求，定义相对应的Content-Type
    headers.put(&quot;Content-Type&quot;, &quot;application/x-www-form-urlencoded; charset=UTF-8&quot;);
    Map&lt;String, String&gt; querys = new HashMap&lt;String, String&gt;();
    Map&lt;String, String&gt; bodys = new HashMap&lt;String, String&gt;();
    bodys.put(&quot;pwd&quot;, &quot;mypassword&quot;);


    try {
    	/**
    	* 重要提示如下:
    	* HttpUtils请从
    	* https://github.com/aliyun/api-gateway-demo-sign-java/blob/master/src/main/java/com/aliyun/api/gateway/demo/util/HttpUtils.java
    	* 下载
    	*
    	* 相应的依赖请参照
    	* https://github.com/aliyun/api-gateway-demo-sign-java/blob/master/pom.xml
    	*/
    	HttpResponse response = HttpUtils.doPost(host, path, method, headers, querys, bodys);
    	System.out.println(response.toString());
    	//获取response的body
    	//System.out.println(EntityUtils.toString(response.getEntity()));
    } catch (Exception e) {
    	e.printStackTrace();
    }
}
</pre>
                <h3 style="margin-bottom: 20px;">Python Demo Code</h3>
                <pre class="brush: python;">
import urllib, urllib2, sys
import ssl

host = &#x27;https://www.neilren.com&#x27;
path = &#x27;/api/open/checkWoestPassword&#x27;
method = &#x27;POST&#x27;
querys = &#x27;&#x27;
bodys = {}
url = host + path

bodys[&#x27;pwd&#x27;] = &#x27;&#x27;&#x27;mypassword&#x27;&#x27;&#x27;
post_data = urllib.urlencode(bodys)
request = urllib2.Request(url, post_data)
//根据API的要求，定义相对应的Content-Type
request.add_header(&#x27;Content-Type&#x27;, &#x27;application/x-www-form-urlencoded; charset=UTF-8&#x27;)
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE
response = urllib2.urlopen(request, context=ctx)
content = response.read()
if (content):
    print(content)
</pre>
                <h3 style="margin-bottom: 20px;">C# Demo Code</h3>
                <pre class="brush: csharp;">
//using System.IO;
//using System.Text;
//using System.Net;
//using System.Net.Security;
//using System.Security.Cryptography.X509Certificates;

private const String host = &quot;https://www.neilren.com&quot;;
private const String path = &quot;/api/open/checkWoestPassword&quot;;
private const String method = &quot;POST&quot;;

static void Main(string[] args)
{
    String querys = &quot;&quot;;
    String bodys = &quot;pwd=mypassword&quot;;
    String url = host + path;
    HttpWebRequest httpRequest = null;
    HttpWebResponse httpResponse = null;

    if (0 &lt; querys.Length)
    {
        url = url + &quot;?&quot; + querys;
    }

    if (host.Contains(&quot;https://&quot;))
    {
        ServicePointManager.ServerCertificateValidationCallback = new RemoteCertificateValidationCallback(CheckValidationResult);
        httpRequest = (HttpWebRequest)WebRequest.CreateDefault(new Uri(url));
    }
    else
    {
        httpRequest = (HttpWebRequest)WebRequest.Create(url);
    }
    httpRequest.Method = method;
    //根据API的要求，定义相对应的Content-Type
    httpRequest.ContentType = &quot;application/x-www-form-urlencoded; charset=UTF-8&quot;;
    if (0 &lt; bodys.Length)
    {
        byte[] data = Encoding.UTF8.GetBytes(bodys);
        using (Stream stream = httpRequest.GetRequestStream())
        {
            stream.Write(data, 0, data.Length);
        }
    }
    try
    {
        httpResponse = (HttpWebResponse)httpRequest.GetResponse();
    }
    catch (WebException ex)
    {
        httpResponse = (HttpWebResponse)ex.Response;
    }

    Console.WriteLine(httpResponse.StatusCode);
    Console.WriteLine(httpResponse.Method);
    Console.WriteLine(httpResponse.Headers);
    Stream st = httpResponse.GetResponseStream();
    StreamReader reader = new StreamReader(st, Encoding.GetEncoding(&quot;utf-8&quot;));
    Console.WriteLine(reader.ReadToEnd());
    Console.WriteLine(&quot;\n&quot;);

}

public static bool CheckValidationResult(object sender, X509Certificate certificate, X509Chain chain, SslPolicyErrors errors)
{
    return true;
}
</pre>
                <h3 style="margin-bottom: 20px;">PHP Demo Code</h3>
                <pre class="brush: php;">
&lt;?php
    $host = &quot;https://www.neilren.com&quot;;
    $path = &quot;/api/open/checkWoestPassword&quot;;
    $method = &quot;POST&quot;;
    $headers = array();
    //根据API的要求，定义相对应的Content-Type
    array_push($headers, &quot;Content-Type&quot;.&quot;:&quot;.&quot;application/x-www-form-urlencoded; charset=UTF-8&quot;);
    $querys = &quot;&quot;;
    $bodys = &quot;pwd=mypassword&quot;;
    $url = $host . $path;

    $curl = curl_init();
    curl_setopt($curl, CURLOPT_CUSTOMREQUEST, $method);
    curl_setopt($curl, CURLOPT_URL, $url);
    curl_setopt($curl, CURLOPT_HTTPHEADER, $headers);
    curl_setopt($curl, CURLOPT_FAILONERROR, false);
    curl_setopt($curl, CURLOPT_RETURNTRANSFER, true);
    curl_setopt($curl, CURLOPT_HEADER, true);
    if (1 == strpos(&quot;$&quot;.$host, &quot;https://&quot;))
    {
        curl_setopt($curl, CURLOPT_SSL_VERIFYPEER, false);
        curl_setopt($curl, CURLOPT_SSL_VERIFYHOST, false);
    }
    curl_setopt($curl, CURLOPT_POSTFIELDS, $bodys);
    var_dump(curl_exec($curl));
?&gt;
</pre>
                <h3 style="margin-bottom: 20px;">ObjectC Demo Code</h3>
                <pre class="brush: java;">
NSString *host = @&quot;https://www.neilren.com&quot;;
NSString *path = @&quot;/api/open/checkWoestPassword&quot;;
NSString *method = @&quot;POST&quot;;
NSString *querys = @&quot;&quot;;
NSString *url = [NSString stringWithFormat:@&quot;%@%@%@&quot;,  host,  path , querys];
NSString *bodys = @&quot;pwd=mypassword&quot;;

NSMutableURLRequest *request = [NSMutableURLRequest requestWithURL:[NSURL URLWithString: url]  cachePolicy:1  timeoutInterval:  5];
request.HTTPMethod  =  method;
[request addValue: @&quot;application/x-www-form-urlencoded; charset=UTF-8&quot; forHTTPHeaderField: @&quot;Content-Type&quot;];
NSData *data = [bodys dataUsingEncoding: NSUTF8StringEncoding];
[request setHTTPBody: data];
NSURLSession *requestSession = [NSURLSession sessionWithConfiguration:[NSURLSessionConfiguration defaultSessionConfiguration]];
NSURLSessionDataTask *task = [requestSession dataTaskWithRequest:request
    completionHandler:^(NSData * _Nullable body , NSURLResponse * _Nullable response, NSError * _Nullable error) {
    NSLog(@&quot;Response object: %@&quot; , response);
    NSString *bodyString = [[NSString alloc] initWithData:body encoding:NSUTF8StringEncoding];

    //打印应答中的body
    NSLog(@&quot;Response body: %@&quot; , bodyString);
    }];

[task resume];
</pre>
                <div class="gray-bar" style="margin-bottom: 20px;"></div>
            </div>
        </div>
    </article>
    <div style="height: 40px;">
    </div>
</main>
<footer th:replace="layout/footer::footer(${footer})"></footer>
<script language="javascript">
    function check() {
        $("#show").html("查询中请稍后...");
        $.ajax({
            url: "/api/open/checkWoestPassword",
            data: {
                pwd: $("#pwd").val()
            },
            type: "Post",
            dataType: "json",
            cache: false,//上传文件无需缓存
            success: function (data) {
                //判断是否为JSON对象
                if (data.success) {
                    var msg = "密码安全等级：";
                    switch (data.data.SecuseLevel) {
                        case "VERY_SECURE":
                            msg += "非常安全";
                            break;
                        case "SECURE":
                            msg += "安全";
                            break;
                        case "VERY_STRONG":
                            msg += "非常强";
                            break;
                        case "STRONG":
                            msg += "强";
                            break;
                        case "AVERAGE":
                            msg += "一般";
                            break;
                        case "WEAK":
                            msg += "弱";
                            break;
                        case "VERY_WEAK":
                            msg += "非常弱";
                            break;
                    }
                    msg += "；评分：" + data.data.Score;
                    msg += "；是否命中弱密码数据库：" + (data.data.HitDatabase ? "是" : "否");
                    $("#show").html(msg);
                } else {
                    $("#show").html("查询失败");
                }
            }
        });
    }

    function path() {
        var args = arguments,
            result = [];
        for (var i = 0; i < args.length; i++)
            result.push(args[i].replace('@', '//cdn.neilren.com/NeilRenV4/syntaxhighlighter/scripts/'));//请替换成自己项目中SyntaxHighlighter的具体路径
        return result
    };
    SyntaxHighlighter.autoloader.apply(null, path(
        'applescript        @shBrushAppleScript.js',
        'actionscript3 as3      @shBrushAS3.js',
        'bash shell     @shBrushBash.js',
        'coldfusion cf      @shBrushColdFusion.js',
        'cpp c          @shBrushCpp.js',
        'c# c-sharp csharp      @shBrushCSharp.js',
        'css            @shBrushCss.js',
        'delphi pascal      @shBrushDelphi.js',
        'diff patch pas     @shBrushDiff.js',
        'erl erlang     @shBrushErlang.js',
        'groovy         @shBrushGroovy.js',
        'java           @shBrushJava.js',
        'jfx javafx     @shBrushJavaFX.js',
        'js jscript javascript  @shBrushJScript.js',
        'perl pl            @shBrushPerl.js',
        'php            @shBrushPhp.js',
        'text plain     @shBrushPlain.js',
        'py python          @shBrushPython.js',
        'ruby rails ror rb      @shBrushRuby.js',
        'sass scss          @shBrushSass.js',
        'scala          @shBrushScala.js',
        'sql            @shBrushSql.js',
        'vb vbnet           @shBrushVb.js',
        'xml xhtml xslt html        @shBrushXml.js'
    ));
    SyntaxHighlighter.all();
</script>
</body>
</html>