<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.image.dao.AlbumDao">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.image.entity.Album">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="creatdate" jdbcType="TIMESTAMP" property="creatdate" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.neilren.neilren4j.modules.image.entity.AlbumWithBLOBs">
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
    <result column="cover" jdbcType="LONGVARCHAR" property="cover" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creatdate, count
  </sql>
  <sql id="Blob_Column_List">
    title, cover
  </sql>
  <select id="selectImageTotal" resultType="Integer">
    SELECT count(id)
    FROM t_album
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_album
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_album
    ORDER BY creatdate DESC
  </select>
  <select id="selectByLimit" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_album
    ORDER BY creatdate
    LIMIT #{arg0,jdbcType=INTEGER},#{arg1,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_album
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.modules.image.entity.AlbumWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into t_album (id, creatdate, count, 
      title, cover)
    values (#{id,jdbcType=BIGINT}, #{creatdate,jdbcType=TIMESTAMP}, #{count,jdbcType=INTEGER}, 
      #{title,jdbcType=LONGVARCHAR}, #{cover,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neilren.neilren4j.modules.image.entity.AlbumWithBLOBs" useGeneratedKeys="true" keyProperty="id">
    insert into t_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creatdate != null">
        creatdate,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="cover != null">
        cover,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creatdate != null">
        #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="cover != null">
        #{cover,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neilren.neilren4j.modules.image.entity.AlbumWithBLOBs">
    update t_album
    <set>
      <if test="creatdate != null">
        creatdate = #{creatdate,jdbcType=TIMESTAMP},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=LONGVARCHAR},
      </if>
      <if test="cover != null">
        cover = #{cover,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neilren.neilren4j.modules.image.entity.AlbumWithBLOBs">
    update t_album
    set creatdate = #{creatdate,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER},
      title = #{title,jdbcType=LONGVARCHAR},
      cover = #{cover,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neilren.neilren4j.modules.image.entity.Album">
    update t_album
    set creatdate = #{creatdate,jdbcType=TIMESTAMP},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>