<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.article.dao.CommentsDao">
    <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.article.entity.Comments">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="article_id"/>
        <result column="parent_id" jdbcType="BIGINT" property="parent_id"/>
        <result column="author_name" jdbcType="LONGVARCHAR" property="author_name"/>
        <result column="author_email" jdbcType="LONGVARCHAR" property="author_email"/>
        <result column="author_url" jdbcType="LONGVARCHAR" property="author_url"/>
        <result column="author_IP" jdbcType="LONGVARCHAR" property="author_IP"/>
        <result column="comment_date" property="comment_date"/>
        <result column="comment_content" jdbcType="LONGVARCHAR" property="comment_content"/>
        <result column="approved" jdbcType="INTEGER" property="approved"/>
        <result column="agent" jdbcType="LONGVARCHAR" property="agent"/>
    </resultMap>
    <select id="selectByArticleID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT id,article_id, parent_id, author_name, author_email, author_url, author_IP, comment_date, comment_content, approved, agent
        FROM t_comments
        WHERE article_id = #{id,jdbcType=BIGINT} AND approved = 1;
    </select>
    <select id="selectAllByArticleID" parameterType="java.lang.Long"
            resultType="com.neilren.neilren4j.modules.article.entity.Comments">
        SELECT id,article_id, parent_id, author_name, author_email, author_url, author_IP, comment_date, comment_content, approved, agent
        FROM t_comments
        WHERE article_id = #{id,jdbcType=BIGINT};
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.neilren.neilren4j.modules.article.entity.Comments">
        insert into t_comments
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="article_id != null">
                article_id,
            </if>
            <if test="parent_id != null">
                parent_id,
            </if>
            <if test="author_name != null">
                author_name,
            </if>
            <if test="author_email != null">
                author_email,
            </if>
            <if test="author_url != null">
                author_url,
            </if>
            <if test="author_IP != null">
                author_IP,
            </if>
            <if test="comment_date != null">
                comment_date,
            </if>
            <if test="comment_content != null">
                comment_content,
            </if>
            <if test="approved != null">
                approved,
            </if>
            <if test="agent != null">
                agent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="article_id != null">
                #{article_id,jdbcType=BIGINT},
            </if>
            <if test="parent_id != null">
                #{parent_id,jdbcType=BIGINT},
            </if>
            <if test="author_name != null">
                #{author_name,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_email != null">
                #{author_email,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_url != null">
                #{author_url,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_IP != null">
                #{author_IP,jdbcType=LONGVARCHAR},
            </if>
            <if test="comment_date != null">
                #{comment_date},
            </if>
            <if test="comment_content != null">
                #{comment_content,jdbcType=LONGVARCHAR},
            </if>
            <if test="approved != null">
                #{approved,jdbcType=INTEGER},
            </if>
            <if test="agent != null">
                #{agent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.neilren.neilren4j.modules.article.entity.Comments">
        UPDATE neilren4j.t_comments
        <set>
            <if test="article_id != null">
                article_id = #{article_id,jdbcType=BIGINT},
            </if>
            <if test="parent_id != null">
                parent_id = #{parent_id,jdbcType=BIGINT},
            </if>
            <if test="author_name != null">
                author_name = #{author_name,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_email != null">
                author_email = #{author_email,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_url != null">
                author_url = #{author_url,jdbcType=LONGVARCHAR},
            </if>
            <if test="author_IP != null">
                author_IP = #{author_IP,jdbcType=LONGVARCHAR},
            </if>
            <if test="comment_date != null">
                comment_date = #{comment_date},
            </if>
            <if test="comment_content != null">
                comment_content = #{comment_content,jdbcType=LONGVARCHAR},
            </if>
            <if test="approved != null">
                approved = #{approved,jdbcType=INTEGER},
            </if>
            <if test="agent != null">
                agent = #{agent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>