<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.article.dao.ArticleGradeDao">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.article.entity.ArticleGrade">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="add_date" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, article_id, grade, add_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_article_grade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_article_grade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.modules.article.entity.ArticleGrade">
    insert into t_article_grade (id, article_id, grade, 
      add_date)
    values (#{id,jdbcType=BIGINT}, #{articleId,jdbcType=BIGINT}, #{grade,jdbcType=INTEGER}, 
      #{addDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.neilren.neilren4j.modules.article.entity.ArticleGrade">
    insert into t_article_grade
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="addDate != null">
        add_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neilren.neilren4j.modules.article.entity.ArticleGrade">
    update t_article_grade
    <set>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="addDate != null">
        add_date = #{addDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neilren.neilren4j.modules.article.entity.ArticleGrade">
    update t_article_grade
    set article_id = #{articleId,jdbcType=BIGINT},
      grade = #{grade,jdbcType=INTEGER},
      add_date = #{addDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>