<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.article.dao.CategoryDao">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.article.entity.Category">
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.neilren.neilren4j.modules.article.entity.Category">
    <result column="en_name" jdbcType="LONGVARCHAR" property="enName" />
    <result column="zh_name" jdbcType="LONGVARCHAR" property="zhName" />
  </resultMap>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    en_name, zh_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAllCat" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_category
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.modules.article.entity.Category">
    insert into t_category (id, en_name, zh_name
      )
    values (#{id,jdbcType=BIGINT}, #{enName,jdbcType=LONGVARCHAR}, #{zhName,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.neilren.neilren4j.modules.article.entity.Category">
    insert into t_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="zhName != null">
        zh_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhName != null">
        #{zhName,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neilren.neilren4j.modules.article.entity.Category">
    update t_category
    <set>
      <if test="enName != null">
        en_name = #{enName,jdbcType=LONGVARCHAR},
      </if>
      <if test="zhName != null">
        zh_name = #{zhName,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neilren.neilren4j.modules.article.entity.Category">
    update t_category
    set en_name = #{enName,jdbcType=LONGVARCHAR},
      zh_name = #{zhName,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>