<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.frielink.dao.FrielinkDao">
    <select id="selectValidFrieLinks" resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.state > 0 AND neilren4j.t_frielink.black_white >= 0;
    </select>
    <select id="selectBlackFrieLinks" resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.black_white = -1;
    </select>
    <select id="selectShowingFrieLinks" resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.black_white = 0 AND neilren4j.t_frielink.state = 1;
    </select>
    <select id="selectHideFrieLinks" resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.black_white = 0 AND neilren4j.t_frielink.state = 0;
    </select>
    <select id="selectFrieLinkByDomain" parameterType="String"
            resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.link = CONCAT('http://', #{_parameter}, '/') OR
          neilren4j.t_frielink.link = CONCAT('https://', #{_parameter}, '/');
    </select>
    <select id="selectFrieLinkByLink" parameterType="String"
            resultType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        SELECT *
        FROM neilren4j.t_frielink
        WHERE neilren4j.t_frielink.link = #{_parameter};
    </select>
    <insert id="insertFrieLink" parameterType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO neilren4j.t_frielink
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sitename != null">
                sitename,
            </if>
            <if test="link != null">
                link,
            </if>
            <if test="domain != null">
                domain,
            </if>
            <if test="add_date != null">
                add_date,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="qq != null">
                qq,
            </if>
            <if test="black_white != null">
                black_white,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="last_check_time != null">
                last_check_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sitename != null">
                #{sitename,jdbcType=LONGVARCHAR},
            </if>
            <if test="link != null">
                #{link,jdbcType=LONGVARCHAR},
            </if>
            <if test="domain != null">
                #{domain,jdbcType=LONGVARCHAR},
            </if>
            <if test="add_date != null">
                #{add_date},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=LONGVARCHAR},
            </if>
            <if test="qq != null">
                #{qq,jdbcType=LONGVARCHAR},
            </if>
            <if test="black_white != null">
                #{black_white,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="last_check_time != null">
                #{last_check_time},
            </if>
        </trim>
    </insert>
    <update id="updateByFrieLink" parameterType="com.neilren.neilren4j.modules.frielink.entity.Frielink">
        UPDATE neilren4j.t_frielink
        <set>
            <if test="link != null">
                link = #{link,jdbcType=LONGVARCHAR},
            </if>
            <if test="add_date != null">
                add_date = #{add_date},
            </if>
            <if test="sitename != null">
                sitename = #{sitename,jdbcType=LONGVARCHAR},
            </if>
            <if test="domain != null">
                domain = #{domain,jdbcType=LONGVARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=LONGVARCHAR},
            </if>
            <if test="qq != null">
                qq = #{qq,jdbcType=LONGVARCHAR},
            </if>
            <if test="black_white != null">
                black_white = #{black_white,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
            <if test="last_check_time != null">
                last_check_time = #{last_check_time},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>