<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.image.dao.ImageMetaDao">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.image.entity.ImageMeta">
    <id column="id" jdbcType="BIGINT" property="id" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.neilren.neilren4j.modules.image.entity.ImageMeta">
    <result column="ImageHeight" jdbcType="LONGVARCHAR" property="imageheight" />
    <result column="ImageWidth" jdbcType="LONGVARCHAR" property="imagewidth" />
    <result column="Make" jdbcType="LONGVARCHAR" property="make" />
    <result column="Model" jdbcType="LONGVARCHAR" property="model" />
    <result column="Orientation" jdbcType="LONGVARCHAR" property="orientation" />
    <result column="DateTime" jdbcType="LONGVARCHAR" property="datetime" />
    <result column="ExposureTime" jdbcType="LONGVARCHAR" property="exposuretime" />
    <result column="FNumber" jdbcType="LONGVARCHAR" property="fNumber" />
    <result column="ExposureProgram" jdbcType="LONGVARCHAR" property="exposureprogram" />
    <result column="ISOSpeedRatings" jdbcType="LONGVARCHAR" property="isospeedratings" />
    <result column="SensitivityType" jdbcType="LONGVARCHAR" property="sensitivitytype" />
    <result column="RecommendedExposureIndex" jdbcType="LONGVARCHAR" property="recommendedexposureindex" />
    <result column="DateOriginal" jdbcType="LONGVARCHAR" property="dateoriginal" />
    <result column="DateDigitized" jdbcType="LONGVARCHAR" property="datedigitized" />
    <result column="ShutterSpeedValue" jdbcType="LONGVARCHAR" property="shutterspeedvalue" />
    <result column="ApertureValue" jdbcType="LONGVARCHAR" property="aperturevalue" />
    <result column="ExposureBiasValue" jdbcType="LONGVARCHAR" property="exposurebiasvalue" />
    <result column="MeteringMode" jdbcType="LONGVARCHAR" property="meteringmode" />
    <result column="Flash" jdbcType="LONGVARCHAR" property="flash" />
    <result column="FocalLength" jdbcType="LONGVARCHAR" property="focallength" />
    <result column="CustomRendered" jdbcType="LONGVARCHAR" property="customrendered" />
    <result column="ExposureMode" jdbcType="LONGVARCHAR" property="exposuremode" />
    <result column="WhiteBalanceMode" jdbcType="LONGVARCHAR" property="whitebalancemode" />
    <result column="SceneCaptureType" jdbcType="LONGVARCHAR" property="scenecapturetype" />
    <result column="LensSpecification" jdbcType="LONGVARCHAR" property="lensspecification" />
    <result column="LensModel" jdbcType="LONGVARCHAR" property="lensmodel" />
  </resultMap>
  <sql id="Base_Column_List">
    id
  </sql>
  <sql id="Blob_Column_List">
    ImageHeight, ImageWidth, Make, Model, Orientation, DateTime, ExposureTime, FNumber,
    ExposureProgram, ISOSpeedRatings, SensitivityType, RecommendedExposureIndex, DateOriginal, 
    DateDigitized, ShutterSpeedValue, ApertureValue, ExposureBiasValue, MeteringMode, 
    Flash, FocalLength, CustomRendered, ExposureMode, WhiteBalanceMode, SceneCaptureType, 
    LensSpecification, LensModel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_image_meta
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_image_meta
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.modules.image.entity.ImageMeta" useGeneratedKeys="true" keyProperty="id">
    insert into t_image_meta (id, ImageHeight, ImageWidth, 
      Make, Model, Orientation, 
      DateTime, ExposureTime, FNumber,
      ExposureProgram, ISOSpeedRatings, 
      SensitivityType, RecommendedExposureIndex, 
      DateOriginal, DateDigitized, ShutterSpeedValue, 
      ApertureValue, ExposureBiasValue, 
      MeteringMode, Flash, FocalLength, 
      CustomRendered, ExposureMode, WhiteBalanceMode, 
      SceneCaptureType, LensSpecification, 
      LensModel)
    values (#{id,jdbcType=BIGINT}, #{imageheight,jdbcType=LONGVARCHAR}, #{imagewidth,jdbcType=LONGVARCHAR}, 
      #{make,jdbcType=LONGVARCHAR}, #{model,jdbcType=LONGVARCHAR}, #{orientation,jdbcType=LONGVARCHAR}, 
      #{datetime,jdbcType=LONGVARCHAR}, #{exposuretime,jdbcType=LONGVARCHAR}, #{fNumber,jdbcType=LONGVARCHAR}, 
      #{exposureprogram,jdbcType=LONGVARCHAR}, #{isospeedratings,jdbcType=LONGVARCHAR}, 
      #{sensitivitytype,jdbcType=LONGVARCHAR}, #{recommendedexposureindex,jdbcType=LONGVARCHAR}, 
      #{dateoriginal,jdbcType=LONGVARCHAR}, #{datedigitized,jdbcType=LONGVARCHAR}, #{shutterspeedvalue,jdbcType=LONGVARCHAR}, 
      #{aperturevalue,jdbcType=LONGVARCHAR}, #{exposurebiasvalue,jdbcType=LONGVARCHAR}, 
      #{meteringmode,jdbcType=LONGVARCHAR}, #{flash,jdbcType=LONGVARCHAR}, #{focallength,jdbcType=LONGVARCHAR}, 
      #{customrendered,jdbcType=LONGVARCHAR}, #{exposuremode,jdbcType=LONGVARCHAR}, #{whitebalancemode,jdbcType=LONGVARCHAR}, 
      #{scenecapturetype,jdbcType=LONGVARCHAR}, #{lensspecification,jdbcType=LONGVARCHAR}, 
      #{lensmodel,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neilren.neilren4j.modules.image.entity.ImageMeta" useGeneratedKeys="true" keyProperty="id">
    insert into t_image_meta
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="imageheight != null">
        ImageHeight,
      </if>
      <if test="imagewidth != null">
        ImageWidth,
      </if>
      <if test="make != null">
        Make,
      </if>
      <if test="model != null">
        Model,
      </if>
      <if test="orientation != null">
        Orientation,
      </if>
      <if test="datetime != null">
        DateTime,
      </if>
      <if test="exposuretime != null">
        ExposureTime,
      </if>
      <if test="fNumber != null">
        FNumber,
      </if>
      <if test="exposureprogram != null">
        ExposureProgram,
      </if>
      <if test="isospeedratings != null">
        ISOSpeedRatings,
      </if>
      <if test="sensitivitytype != null">
        SensitivityType,
      </if>
      <if test="recommendedexposureindex != null">
        RecommendedExposureIndex,
      </if>
      <if test="dateoriginal != null">
        DateOriginal,
      </if>
      <if test="datedigitized != null">
        DateDigitized,
      </if>
      <if test="shutterspeedvalue != null">
        ShutterSpeedValue,
      </if>
      <if test="aperturevalue != null">
        ApertureValue,
      </if>
      <if test="exposurebiasvalue != null">
        ExposureBiasValue,
      </if>
      <if test="meteringmode != null">
        MeteringMode,
      </if>
      <if test="flash != null">
        Flash,
      </if>
      <if test="focallength != null">
        FocalLength,
      </if>
      <if test="customrendered != null">
        CustomRendered,
      </if>
      <if test="exposuremode != null">
        ExposureMode,
      </if>
      <if test="whitebalancemode != null">
        WhiteBalanceMode,
      </if>
      <if test="scenecapturetype != null">
        SceneCaptureType,
      </if>
      <if test="lensspecification != null">
        LensSpecification,
      </if>
      <if test="lensmodel != null">
        LensModel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="imageheight != null">
        #{imageheight,jdbcType=LONGVARCHAR},
      </if>
      <if test="imagewidth != null">
        #{imagewidth,jdbcType=LONGVARCHAR},
      </if>
      <if test="make != null">
        #{make,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="orientation != null">
        #{orientation,jdbcType=LONGVARCHAR},
      </if>
      <if test="datetime != null">
        #{datetime,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposuretime != null">
        #{exposuretime,jdbcType=LONGVARCHAR},
      </if>
      <if test="fNumber != null">
        #{fNumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposureprogram != null">
        #{exposureprogram,jdbcType=LONGVARCHAR},
      </if>
      <if test="isospeedratings != null">
        #{isospeedratings,jdbcType=LONGVARCHAR},
      </if>
      <if test="sensitivitytype != null">
        #{sensitivitytype,jdbcType=LONGVARCHAR},
      </if>
      <if test="recommendedexposureindex != null">
        #{recommendedexposureindex,jdbcType=LONGVARCHAR},
      </if>
      <if test="dateoriginal != null">
        #{dateoriginal,jdbcType=LONGVARCHAR},
      </if>
      <if test="datedigitized != null">
        #{datedigitized,jdbcType=LONGVARCHAR},
      </if>
      <if test="shutterspeedvalue != null">
        #{shutterspeedvalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="aperturevalue != null">
        #{aperturevalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposurebiasvalue != null">
        #{exposurebiasvalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="meteringmode != null">
        #{meteringmode,jdbcType=LONGVARCHAR},
      </if>
      <if test="flash != null">
        #{flash,jdbcType=LONGVARCHAR},
      </if>
      <if test="focallength != null">
        #{focallength,jdbcType=LONGVARCHAR},
      </if>
      <if test="customrendered != null">
        #{customrendered,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposuremode != null">
        #{exposuremode,jdbcType=LONGVARCHAR},
      </if>
      <if test="whitebalancemode != null">
        #{whitebalancemode,jdbcType=LONGVARCHAR},
      </if>
      <if test="scenecapturetype != null">
        #{scenecapturetype,jdbcType=LONGVARCHAR},
      </if>
      <if test="lensspecification != null">
        #{lensspecification,jdbcType=LONGVARCHAR},
      </if>
      <if test="lensmodel != null">
        #{lensmodel,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neilren.neilren4j.modules.image.entity.ImageMeta">
    update t_image_meta
    <set>
      <if test="imageheight != null">
        ImageHeight = #{imageheight,jdbcType=LONGVARCHAR},
      </if>
      <if test="imagewidth != null">
        ImageWidth = #{imagewidth,jdbcType=LONGVARCHAR},
      </if>
      <if test="make != null">
        Make = #{make,jdbcType=LONGVARCHAR},
      </if>
      <if test="model != null">
        Model = #{model,jdbcType=LONGVARCHAR},
      </if>
      <if test="orientation != null">
        Orientation = #{orientation,jdbcType=LONGVARCHAR},
      </if>
      <if test="datetime != null">
        DateTime = #{datetime,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposuretime != null">
        ExposureTime = #{exposuretime,jdbcType=LONGVARCHAR},
      </if>
      <if test="fNumber != null">
        FNumber = #{fNumber,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposureprogram != null">
        ExposureProgram = #{exposureprogram,jdbcType=LONGVARCHAR},
      </if>
      <if test="isospeedratings != null">
        ISOSpeedRatings = #{isospeedratings,jdbcType=LONGVARCHAR},
      </if>
      <if test="sensitivitytype != null">
        SensitivityType = #{sensitivitytype,jdbcType=LONGVARCHAR},
      </if>
      <if test="recommendedexposureindex != null">
        RecommendedExposureIndex = #{recommendedexposureindex,jdbcType=LONGVARCHAR},
      </if>
      <if test="dateoriginal != null">
        DateOriginal = #{dateoriginal,jdbcType=LONGVARCHAR},
      </if>
      <if test="datedigitized != null">
        DateDigitized = #{datedigitized,jdbcType=LONGVARCHAR},
      </if>
      <if test="shutterspeedvalue != null">
        ShutterSpeedValue = #{shutterspeedvalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="aperturevalue != null">
        ApertureValue = #{aperturevalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposurebiasvalue != null">
        ExposureBiasValue = #{exposurebiasvalue,jdbcType=LONGVARCHAR},
      </if>
      <if test="meteringmode != null">
        MeteringMode = #{meteringmode,jdbcType=LONGVARCHAR},
      </if>
      <if test="flash != null">
        Flash = #{flash,jdbcType=LONGVARCHAR},
      </if>
      <if test="focallength != null">
        FocalLength = #{focallength,jdbcType=LONGVARCHAR},
      </if>
      <if test="customrendered != null">
        CustomRendered = #{customrendered,jdbcType=LONGVARCHAR},
      </if>
      <if test="exposuremode != null">
        ExposureMode = #{exposuremode,jdbcType=LONGVARCHAR},
      </if>
      <if test="whitebalancemode != null">
        WhiteBalanceMode = #{whitebalancemode,jdbcType=LONGVARCHAR},
      </if>
      <if test="scenecapturetype != null">
        SceneCaptureType = #{scenecapturetype,jdbcType=LONGVARCHAR},
      </if>
      <if test="lensspecification != null">
        LensSpecification = #{lensspecification,jdbcType=LONGVARCHAR},
      </if>
      <if test="lensmodel != null">
        LensModel = #{lensmodel,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neilren.neilren4j.modules.image.entity.ImageMeta">
    update t_image_meta
    set ImageHeight = #{imageheight,jdbcType=LONGVARCHAR},
      ImageWidth = #{imagewidth,jdbcType=LONGVARCHAR},
      Make = #{make,jdbcType=LONGVARCHAR},
      Model = #{model,jdbcType=LONGVARCHAR},
      Orientation = #{orientation,jdbcType=LONGVARCHAR},
      DateTime = #{datetime,jdbcType=LONGVARCHAR},
      ExposureTime = #{exposuretime,jdbcType=LONGVARCHAR},
      FNumber = #{fNumber,jdbcType=LONGVARCHAR},
      ExposureProgram = #{exposureprogram,jdbcType=LONGVARCHAR},
      ISOSpeedRatings = #{isospeedratings,jdbcType=LONGVARCHAR},
      SensitivityType = #{sensitivitytype,jdbcType=LONGVARCHAR},
      RecommendedExposureIndex = #{recommendedexposureindex,jdbcType=LONGVARCHAR},
      DateOriginal = #{dateoriginal,jdbcType=LONGVARCHAR},
      DateDigitized = #{datedigitized,jdbcType=LONGVARCHAR},
      ShutterSpeedValue = #{shutterspeedvalue,jdbcType=LONGVARCHAR},
      ApertureValue = #{aperturevalue,jdbcType=LONGVARCHAR},
      ExposureBiasValue = #{exposurebiasvalue,jdbcType=LONGVARCHAR},
      MeteringMode = #{meteringmode,jdbcType=LONGVARCHAR},
      Flash = #{flash,jdbcType=LONGVARCHAR},
      FocalLength = #{focallength,jdbcType=LONGVARCHAR},
      CustomRendered = #{customrendered,jdbcType=LONGVARCHAR},
      ExposureMode = #{exposuremode,jdbcType=LONGVARCHAR},
      WhiteBalanceMode = #{whitebalancemode,jdbcType=LONGVARCHAR},
      SceneCaptureType = #{scenecapturetype,jdbcType=LONGVARCHAR},
      LensSpecification = #{lensspecification,jdbcType=LONGVARCHAR},
      LensModel = #{lensmodel,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>