<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.image.dao.ImageDao">
  <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.image.entity.Image">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="albumid" jdbcType="BIGINT" property="albumid" />
    <result column="meteid" jdbcType="BIGINT" property="meteid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.neilren.neilren4j.modules.image.entity.Image">
    <result column="url" jdbcType="LONGVARCHAR" property="url" />
    <result column="title" jdbcType="LONGVARCHAR" property="title" />
  </resultMap>
  <sql id="Base_Column_List">
    id, albumid, meteid
  </sql>
  <sql id="Blob_Column_List">
    url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getImageAllInfo" resultType="com.neilren.neilren4j.modules.image.entity.Image">
    SELECT t_image.*,
    t_image_meta.ImageHeight,
    t_image_meta.ImageWidth,
    t_image_meta.Make,
    t_image_meta.Model,
    t_image_meta.Orientation,
    t_image_meta.`DateTime`,
    t_image_meta.ExposureTime,
    t_image_meta.FNumber,
    t_image_meta.ExposureProgram,
    t_image_meta.ISOSpeedRatings,
    t_image_meta.SensitivityType,
    t_image_meta.RecommendedExposureIndex,
    t_image_meta.DateOriginal,
    t_image_meta.DateDigitized,
    t_image_meta.ShutterSpeedValue,
    t_image_meta.ApertureValue,
    t_image_meta.ExposureBiasValue,
    t_image_meta.MeteringMode,
    t_image_meta.Flash,
    t_image_meta.FocalLength,
    t_image_meta.CustomRendered,
    t_image_meta.ExposureMode,
    t_image_meta.WhiteBalanceMode,
    t_image_meta.SceneCaptureType,
    t_image_meta.LensSpecification,
    t_image_meta.LensModel
    FROM t_image
    LEFT JOIN t_image_meta
    ON t_image.meteid = t_image_meta.id
    WHERE t_image.albumid = #{id,jdbcType=BIGINT}
    ORDER BY t_image_meta.`DateTime` DESC
    LIMIT #{start,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
  </select>
  <select id="selectImageTotal" resultType="Integer">
    SELECT count(id)
    FROM t_image
    WHERE albumid = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByAlbumId" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_image
    where albumid = #{id,jdbcType=BIGINT}
    LIMIT #{start,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.neilren.neilren4j.modules.image.entity.Image" useGeneratedKeys="true" keyProperty="id">
    insert into t_image (id, albumid, meteid, 
      url)
    values (#{id,jdbcType=BIGINT}, #{albumid,jdbcType=BIGINT}, #{meteid,jdbcType=BIGINT}, 
      #{url,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.neilren.neilren4j.modules.image.entity.Image" useGeneratedKeys="true" keyProperty="id">
    insert into t_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="albumid != null">
        albumid,
      </if>
      <if test="meteid != null">
        meteid,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="albumid != null">
        #{albumid,jdbcType=BIGINT},
      </if>
      <if test="meteid != null">
        #{meteid,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.neilren.neilren4j.modules.image.entity.Image">
    update t_image
    <set>
      <if test="albumid != null">
        albumid = #{albumid,jdbcType=BIGINT},
      </if>
      <if test="meteid != null">
        meteid = #{meteid,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.neilren.neilren4j.modules.image.entity.Image">
    update t_image
    set albumid = #{albumid,jdbcType=BIGINT},
      meteid = #{meteid,jdbcType=BIGINT},
      url = #{url,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.neilren.neilren4j.modules.image.entity.Image">
    update t_image
    set albumid = #{albumid,jdbcType=BIGINT},
      meteid = #{meteid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>