<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.common.dao.IPDBDao">
    <insert id="inserts" parameterType="java.util.List">
        /*插入新表数据*/
        INSERT INTO t_ip_table_update (startip, endip, country, local, version)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (inet_aton(#{item.StartIP}),
            inet_aton(#{item.EndIP}),
            #{item.Country},
            #{item.Local},
            #{item.Version})
        </foreach>;
    </insert>
    <select id="cloneTable">
        /*克隆表*/
        CREATE TABLE t_ip_table_update SELECT *
                                       FROM t_ip_table
                                       WHERE 1 = 2;
    </select>
    <delete id="rename">
        /*删除旧表*/
        DROP TABLE t_ip_table;
        /*新表改名*/
        ALTER TABLE t_ip_table_update
          RENAME t_ip_table;
    </delete>
    <select id="selectByIP" parameterType="String" resultType="com.neilren.neilren4j.common.entity.IPDBObject">
        SELECT *
        FROM t_ip_table
        WHERE inet_aton(#{_parameter}) >= startip
          AND endip >= inet_aton(#{_parameter});
    </select>
</mapper>