<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.common.dao.SendEmailLogDao">
    <insert id="insert" parameterType="com.neilren.neilren4j.common.entity.SendEmailLog">
        insert into t_log_send_email (senddate, toemail,
        subject, content)
        values (#{senddate,jdbcType=TIMESTAMP}, #{toemail,jdbcType=LONGVARCHAR},
        #{subject,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR})
    </insert>
</mapper>