<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.api.dao.WeChatMagDao">
    <resultMap id="BaseResultMap" type="com.neilren.neilren4j.modules.api.entity.WeChatMsg">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="recording_time" jdbcType="TIMESTAMP" property="recording_time"/>
        <id column="type" jdbcType="INTEGER" property="type"/>
        <id column="from_user_name" jdbcType="LONGVARCHAR" property="from_user_name"/>
        <id column="create_time" jdbcType="BIGINT" property="create_time"/>
        <id column="msg_type" jdbcType="LONGVARCHAR" property="msg_type"/>
        <id column="content" jdbcType="LONGVARCHAR" property="content"/>
        <id column="msg_id" jdbcType="BIGINT" property="msg_id"/>
        <id column="original" jdbcType="LONGVARCHAR" property="original"/>
    </resultMap>
    <insert id="insert" parameterType="com.neilren.neilren4j.modules.api.entity.WeChatMsg">
        INSERT INTO t_wechat_msg (recording_time, type, from_user_name, create_time, msg_type, content, msg_id, original)
        VALUES (#{recording_time,jdbcType=TIMESTAMP},
        #{type,jdbcType=INTEGER},
        #{from_user_name,jdbcType=LONGVARCHAR},
        #{create_time,jdbcType=BIGINT},
        #{msg_type,jdbcType=LONGVARCHAR},
        #{content,jdbcType=LONGVARCHAR},
        #{msg_id,jdbcType=LONGVARCHAR},
        #{original,jdbcType=LONGVARCHAR});
  </insert>
</mapper>