<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neilren.neilren4j.modules.api.dao.WeChatPhilisenseKaoQinDao">
    <resultMap type="com.neilren.neilren4j.modules.api.entity.PhilisenseTable" id="def">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <id column="wechat_name" jdbcType="LONGVARCHAR" property="wechat_name"/>
        <id column="kaoqin_username" jdbcType="LONGVARCHAR" property="kaoqin_username"/>
        <id column="kaoqin_pwd" jdbcType="LONGVARCHAR" property="kaoqin_pwd"/>
        <id column="add_date" jdbcType="TIMESTAMP" property="add_date"/>
    </resultMap>

    <insert id="insert" parameterType="com.neilren.neilren4j.modules.api.entity.PhilisenseTable">
        INSERT INTO t_wechat_philisense_kaoqin(wechat_name, kaoqin_username, kaoqin_pwd, add_date)
        VALUES (#{wechat_name,jdbcType=LONGVARCHAR},
        #{kaoqin_username,jdbcType=LONGVARCHAR},
        #{kaoqin_pwd,jdbcType=LONGVARCHAR},
        #{add_date,jdbcType=TIMESTAMP});
    </insert>
    <select id="selectByWeChat" parameterType="String" resultMap="def">
        SELECT id,wechat_name,kaoqin_username,kaoqin_pwd,add_date
        FROM t_wechat_philisense_kaoqin
        WHERE wechat_name = #{wechat_name,jdbcType=LONGVARCHAR}
    </select>
    <delete id="deleteByWeChat" parameterType="String">
        DELETE FROM t_wechat_philisense_kaoqin
        WHERE wechat_name = #{wechat_name,jdbcType=LONGVARCHAR}
    </delete>
</mapper>